{% extends 'base.html' %}
{% block content %}

<h2>TEST HOME</h2>
<a href="{% url 'logout' %}">Log Out</a>
<br>
<br>
{% if user.is_authenticated %}
<a class="" href="{% url 'create_resource' %}">create_resource</a>

{% endif %}

{{ user.name }}
<br>
<br>

{% for resource in resources %}
<a href="{% url 'resource_detail' pk=resource.pk %}">{{ resource.title }}</a>
<p>{{ resource.author }}</p>
<a href="{{ resource.url }}">link</a>
<p>{{ resource.description }}</p>
<p>{{ resource.created_date }}</p>
{% endfor %}


{% endblock %}