{% extends 'base.html' %}
{% block content %}

<h2>HOME</h2>
<a href="{% url 'favorite_page' %}">Favorites</a>
<a href="{% url 'logout' %}">Log Out</a>
<br>
<br>

{% if user.is_staff %}
<a class="" href="{% url 'create_resource' %}">Add</a>
{% endif %}

{{ user.name }}
<h2>Categories:</h2>
{% for cat in categories %}
<a href="{% url 'resource_categories' slug=cat.slug %}">{{ cat.title }}</a>
{% endfor %}
<br>
<br>
<h2>Resources:</h2>
{% for resource in resources %}
<a href="{% url 'resource_detail' pk=resource.pk %}">{{ resource.title }}</a>
<p>{{ resource.author }}</p>
<a href="{{ resource.url }}">link</a>
<p>{{ resource.description }}</p>

<a href="{% url 'favorite' res_pk=resource.pk %}">Favorite</a>


<p>{{ resource.created_date }}</p>
{% endfor %}


{% endblock %}