{% extends 'base.html' %}
{% block content %}
<div id="option-box">
    <p>Hello, {{ user.name }}</p>
    <a class="options" href="{% url 'favorite_page' %}">Favorites</a>
    <a class="options" href="{% url 'logout' %}">Log Out</a>
</div>
<br>
<br>

{% if user.is_staff %}
<div id="add">
<a class="options" href="{% url 'create_resource' %}">Add a resource</a>
</div>
{% endif %}


<h2>Categories:</h2>
{% for cat in categories %}
<a class="options" href="{% url 'resource_categories' slug=cat.slug %}">{{ cat.title }}</a>
{% endfor %}
<br>
<br>
<h2>Resources:</h2>
<div id="resources">
{% for resource in resources %}
<div id="resource-container" class="resource-box">
    {% if resource.cover %}
    <img class="covers" src="{{ resource.cover.url }}">
    {% else %}
    <p class="resource-box">No cover provided</p>
    {% endif %}
    <h2 class="resource-box"><a class="resource-box title-color" href="{% url 'resource_detail' pk=resource.pk %}">{{ resource.title }}</a></h2>
    <p class="resource-box">{{ resource.author }}</p>
    <a class="resource-box" href="{{ resource.url }}">Link to website</a>
    <p class="resource-box">{{ resource.description }}</p>
    <a class="resource-box" href="{% url 'favorite' res_pk=resource.pk %}">Favorite this book</a>
    <p class="resource-box">{{ resource.created_date }}</p>
</div>
{% endfor %}
</div>

{% endblock %}